{% extends './utils/paging.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>

    <table>
    {% for seriesToDisplay in series %}
        <tr>
            <td>{{ seriesToDisplay.title }}</td>
            <td><img src="{{ path('app_series_poster', { 'id': seriesToDisplay.id }) }}"></td>
        </tr>
    {% endfor %}
    </table>

    {{ block('paging') }}
{% endblock %}
