{% extends 'base.html.twig' %}

{% block title %}Series Info{% endblock %}

{% block body %}
    <style>
        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24
        }
    </style>

    <div>Poster :
        <img src="{{ path('app_series_poster',{id: series.id}) }}" alt='Series Poster'>
    </div>

    {% if follow %}
        <style>
            .material-symbols-outlined {
                font-variation-settings:
                    'FILL' 1,
                    'wght' 400,
                    'GRAD' 0,
                    'opsz' 24
            }
        </style>
        <span class="material-symbols-outlined">favorite</span>
    {% else %}
        <span class="material-symbols-outlined">favorite</span>
    {% endif %}

    <div>Title : {{ series.title }}</div>
    <div>Description : {{ series.plot }}</div>
    <table>
        <tr> Seasons :</tr>

        {% for s in seasons|sort((a, b) => a.number <=> b.number) %}
            <div>Season {{ s.number }}</div>
        {% endfor %}
    </table>

{% endblock %}


