{# templates/bundles/TwigBundle/Exception/error200.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <link href="/css/errors.css" rel="stylesheet" type="text/css"/>

    <div class="content">
        <h1>{{ status_code }}</h1>
        <p>{{ status_text }}</p>

        <p>
            <a href="{{ path('app_default') }}">Homepage</a>
        </p>
    </div>
{% endblock %}