#ratingOfRatings{
    font-weight: bold;
}

th, td {padding-bottom: 40px;}

#imagePoster{
    height: auto;
    max-width: 20%;
    margin-left: 40%;
}

#imageTheadOfRatings{
    margin-left: 45%;
}

.spanUsernameOfRatingsC{
    color:goldenrod;
}

.headerOfRatings {
    display: flex;
    align-items: center;
    height: 100%;
}
.headerOfRatings img{
    margin-left: 15px;
}

.headerTextOfRatings{
    display: flex;
    align-items: center;
}
/*
#avatarOfRatings{
    margin-bottom: 10px;
    flex-direction: column;
} */