@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #221F1F;
    display: flex;
    flex-direction: column;
    padding: 5px 10% 0 10%;
    width: 80%;
    height: fit-content;
    align-items: center;
    gap: 40px;
}


#show {
    display: grid;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 350px;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    row-gap: 50px;
    transition: 0.5s;
}

.showChildSeries {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-items: center;
    height: 100%;
}

.posters {
    height: 100%;
    border-radius: 6px;
    transition: cubic-bezier(.68, -0.55, .27, 1.55) 0.5s;
    border: 1px solid transparent;
}

.posters:hover {
    cursor: pointer;
    border: 1px solid #88ddd5;
    transform: scale(1.08);
}

.overlay {
    position: absolute;
    background-color: #221f1f8a;
    backdrop-filter: blur(5px);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    animation: cubic-bezier(.68, -0.55, .27, 1.55) 0.5s forwards overlaySpawn;
    transition: 0.5s;
}

@keyframes overlaySpawn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.parentStarsPosterHover,
.bannerParentStars {
    color: #cba848;
    text-shadow: 0px 0px 4px #fffac0;
}

.parentStarsPosterHover>span,
.bannerParentStars>span {
    font-size: 1.4rem;
}

.titlePosterHover {
    color: #ac1536;
    font-size: 2.2rem;
    font-family: 'Bebas Neue', cursive;
    margin: 8px 0 0 0;
    text-shadow: 1px 1px 5px #000000;
}

.durationPosterHover,
.bannerDuration {
    color: #e3f7f5;
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

.banner {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 20%;
    background-color: hsl(347, 79%, 30%, 30%);
    border-top-left-radius: 15px;
    flex-direction: column;
    max-height: 100%;
    animation: 0.5s forwards ease bannerSpawn;
    border-left: 1px solid #cba848;
    border-top: 1px solid #cba848;
}

@keyframes bannerSpawn {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.bannerClose {
    color: #db0030;
    font-size: 2rem;
    margin: 5px 0 0 10px;
    cursor: pointer;
}

.bannerTitle {
    color: #e3f7f5;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
    margin: 10px 0 0 14px;
    text-shadow: 1px 1px 5px #000000;
}

.bannerImg {
    width: calc(100% - 28px);
    margin: 0 0 0 14px;
}

.resumé {
    color: #e3f7f5;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    width: calc(100% - 28px);
    margin: 15px 0 0 14px;
    text-align: justify;
}

.parentBottomBanner {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 20px;
    margin: 10px 0 0 14px;
    align-items: center;
    justify-content: center;
}

.bannerDuration {
    margin-bottom: 3px;
}

.paging{
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 10px;
    margin: 10px 0 0 14px;
    align-items: center;
    justify-content: center;
}
.headerBanner{
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 10px;
    margin: 10px 0 0 14px;
    align-items: center;
    justify-content: space-between;
}
.bannerButtonMore {
    color: #cba848;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 24px;
    background-color: #e3f7f5;
    padding: 10px 20px;
    border: 2px solid #cba848;
}

.bannerButtonMore:hover {
    background-color: #cba848;
    color: #e3f7f5;
}
.paging {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.paging a {
    color: #007BFF;
    text-decoration: none;
    margin: 0 5px;
}

.paging a:hover {
    color: #0056B3;
}

.paging a:active {
    color: #004085;
    
}

.paging input[type="number"] {
    width: 50px;
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin: 0 5px;
}

.paging input[type="submit"] {
    display: none;
}