{% extends 'base.html.twig' %}

{% block title %}Paging{% endblock %}

{% block body %}
    {% block paging %}
        <div class="paging">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endblock %}
{% endblock %}